#navbar1{
	background-color: #404040;
	width: 100%;
}
.navbar-default .navbar-nav > li > a {
  color: #F6F6E8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #F6F6E8;
}
.navmenulink{
	color:#F6F6E8;
}
.navmenulink:hover{
	background-color: #00ACE9 !important;
	border-radius: 10px;
	color: #F6F6E8;
}
#my_pic{
	height: 400px;
	width: 400px;
}
.navmenubrand{
	font-size: 50px;
	margin-top: 20px;

}

@media(max-width: 766px){
	.nametag{
		margin-top: 10px;
	}
}
#school{
	background-color: #F6F6E8 !important;
	width: 100% !important;
}
#college{
	background-color: #F6F6DC !important;
	width: 100% !important;
}
.main{
	width: 100% !important;
	margin-top: 0px !important;
	margin-left: 0px !important;
}
